@import 'globals.scss';

@mixin responsive-spacing($value) {
  &--spacing-responsive {
    margin-left: -$value;
  }

  &--spacing-responsive > & {
    &__items {
      margin-bottom: -$value;

      > * {
        margin-bottom: $value;
        padding-left: $value;
      }
    }
  }
}


@mixin spacing($size, $value) {
  &--spacing-#{$size} {
    margin-left: -$value;
  }

  &--spacing-#{$size} > & {
    &__items {
      margin-bottom: -$value;

      > * {
        margin-bottom: $value;
        padding-left: $value;
      }
    }
  }
}

.row {
  $module: &;
  margin-left: 0;

  &::before,
  &::after {
    display: table;
    width: 100%;
    content: '';
  }

  &__items {
    float: left;
    flex-wrap: wrap;
  }

  &--size-full {
    height: 100%;
    width: 100%;
  }

  &--size-full > & {
    &__items {
      height: 100%;
      width: 100%;
    }
  }

  &--display-inline > & {
    &__items {
      display: inline-flex;
    }
  }

  &--display-block > & {
    &__items {
      width: 100%;
      display: flex;
    }
  }

  &--no-wrap > & {
    &__items {
      flex-wrap: nowrap;
    }
  }

  &--align-items-center > & {
    &__items {
      align-items: center;
    }
  }

  &--align-items-right > & {
    &__items {
      align-items: flex-end;
    }
  }

  &--align-items-left > & {
    &__items {
      align-items: flex-start;
    }
  }

  &--direction-row > & {
    &__items {
      flex-direction: row;
    }
  }

  &--direction-column > & {
    &__items {
      flex-direction: column;
    }
  }

  &--justify-content-center > & {
    &__items {
      justify-content: center;
    }
  }

  &--justify-content-flex-end > & {
    &__items {
      justify-content: flex-end;
    }
  }

  &--justify-content-space-between > & {
    &__items {
      justify-content: space-between;
    }
  }

  &--justify-content-stretch > & {
    &__items {
      justify-content: stretch;
    }
  }

  @include spacing('8', $size-8);
  @include spacing('12', $size-12);
  @include spacing('20', $size-20);
  @include spacing('25', $size-25);
  @include spacing('27', $size-27);
  @include spacing('30', $size-30);
  @include spacing('33', $size-30);
  @include spacing('40', $size-40);
  // @include spacing('20', $size-20);
  // @include spacing('20', $size-20);
  // @include spacing('20', $size-20);
  // @include spacing('20', $size-20);

  @include viewport(phone) {
    @include responsive-spacing($size-20);
  }

  @include viewport(tablet) {
    @include responsive-spacing($size-20);
  }

  @include viewport(desktop) {
    @include responsive-spacing($size-20);
  }
}
