.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;


  &--position-bottom-center {
    background-position: bottom center;
  }
}
