@import 'globals.scss';

.logo {
  position: relative;
  display: table;

  &--name-header {
    i {
      svg {
        height: 43px;
      }
    }
  }

  @include viewport(desktop) {
    &--name-header {
      i {
        svg {
          height: 63px;
        }
      }
    }
  }
}
