@import 'globals.scss';

.section {
  display: block;
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;

  &__background-image,
  &__background-color,
  &__content {
    display: block;
  }

  &__background-image,
  &__background-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__background-image {
    z-index: 0;
  }

  &__background-color {
    z-index: 1;
  }

  &__content {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  &--align-center #{&} {
    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &--align-bottom #{&} {
    &__content {
      display: flex;
      align-items: flex-end;
    }
  }

  &--absolute {
    position: absolute;
  }

  &--spacing-responsive & {
    @include viewport(phone) {
      &__content {
        padding: $size-20 $size-20;
      }
    }

    @include viewport(tablet) {
      &__content {
        padding: $size-20 $size-20;
      }
    }

    @include viewport(desktop) {
      &__content {
        padding: $size-20 $size-20;
      }
    }
  }

  &--spacing-responsive-vertical & {
    @include viewport(phone) {
      &__content {
        padding: $size-20 0;
      }
    }

    @include viewport(tablet) {
      &__content {
        padding: $size-20 0;
      }
    }

    @include viewport(desktop) {
      &__content {
        padding: $size-20 0;
      }
    }
  }

  &--spacing-responsive-horizontal & {
    @include viewport(phone) {
      &__content {
        padding: 0 $size-20;
      }
    }

    @include viewport(tablet) {
      &__content {
        padding: 0 $size-20;
      }
    }

    @include viewport(desktop) {
      &__content {
        padding: 0 $size-20;
      }
    }
  }

  &--spacing-responsive-top & {
    @include viewport(phone) {
      &__content {
        padding-top: $size-20;
      }
    }

    @include viewport(tablet) {
      &__content {
        padding-top: $size-20;
      }
    }

    @include viewport(desktop) {
      &__content {
        padding-top: $size-20;
      }
    }
  }

  &--spacing-responsive-bottom & {
    @include viewport(phone) {
      &__content {
        padding-bottom: $size-20;
      }
    }

    @include viewport(tablet) {
      &__content {
        padding-bottom: $size-20;
      }
    }

    @include viewport(desktop) {
      &__content {
        padding-bottom: $size-20;
      }
    }
  }

  &--spacing-vertical-responsive & {
    @include viewport(phone) {
      &__content {
        padding: $size-20 0;
      }
    }

    @include viewport(tablet) {
      &__content {
        padding: $size-20 0;
      }
    }

    @include viewport(desktop) {
      &__content {
        padding: $size-20 0;
      }
    }
  }
}
