@import 'globals.scss';

.text {
  $module: &;

  // Sizes
  // ======================================
  &--size-12 {
    font-size: 12px;
    line-height: 18px;
  }

  &--size-14 {
    font-size: 14px;
    line-height: 24px;
  }

  &--size-16 {
    font-size: 16px;
    line-height: 26px;
  }

  &--size-20 {
    font-size: 20px;
    line-height: 30px;
  }

  &--size-20-26 {
    font-size: 20px;
    line-height: 26px;
  }

  &--size-20-30 {
    font-size: 20px;
    line-height: 30px;
  }

  &--size-20-35 {
    font-size: 20px;
    line-height: 35px;
  }

  &--size-25 {
    font-size: 25px;
    line-height: 30px;
  }

  &--size-30 {
    font-size: 30px;
    line-height: 30px;
  }

  &--size-35 {
    font-size: 35px;
    line-height: 40px;
  }

  &--size-36 {
    font-size: 36px;
    line-height: 48px;
  }

  &--size-40 {
    font-size: 40px;
    line-height: 50px;
  }

  &--size-40-80 {
    font-size: 40px;
    line-height: 80px;
  }

  &--size-50 {
    font-size: 50px;
    line-height: 66px;
  }

  &--size-60-70 {
    font-size: 60px;
    line-height: 70px;
  }

  &--size-60 {
    font-size: 60px;
    line-height: 80px;
  }

  // Display
  // ======================================
  &--display-inline {
    display: inline;
  }

  &--display-block {
    display: block;
  }

  // Typography
  // ======================================
  &--font-poppins {
    font-family: 'Poppins', sans-serif;
  }

  &--font-roboto {
    font-family: 'Roboto', sans-serif;
  }

  // Align
  // ======================================
  &--align-left {
    text-align: left;
  }

  &--align-center {
    text-align: center;
  }

  &--align-right {
    text-align: right;
  }

  &--align-justify {
    text-align: justify;
    text-align-last: center;
  }

  // Weight
  // ======================================
  &--weight-100 {
    font-weight: 100;
  }

  &--weight-200 {
    font-weight: 200;
  }

  &--weight-300 {
    font-weight: 300;
  }

  &--weight-400 {
    font-weight: 400;
  }

  &--weight-500 {
    font-weight: 500;
  }

  &--weight-600 {
    font-weight: 600;
  }

  &--weight-700 {
    font-weight: 700;
  }

  &--weight-800 {
    font-weight: 800;
  }

  &--weight-900 {
    font-weight: 900;
  }

  // Decoration
  // ======================================
  &--underline {
    text-decoration: underline;
  }

  // Colors
  // ======================================
  &--color-white {
    color: $color-white;
  }

  &--color-black {
    color: $color-black;
  }

  &--color-dark-gray {
    color: $color-dark-gray;
  }

  &--color-dark-gray-80 {
    color: $color-dark-gray-80;
  }
}
