@import 'globals.scss';

.spacing {
  &--align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &--display-inline {
    > div {
      display: table;
    }
  }

  &--size-35 {
    > * {
      &:not(:last-child) {
        margin-bottom: $size-35;
      }
    }
  }

  &--size-9 {
    > * {
      &:not(:last-child) {
        margin-bottom: $size-9;
      }
    }
  }

  &--size-16 {
    > * {
      &:not(:last-child) {
        margin-bottom: $size-16;
      }
    }
  }

  &--size-35 {
    > * {
      &:not(:last-child) {
        margin-bottom: $size-35;
      }
    }
  }

  &--size-11 {
    > * {
      &:not(:last-child) {
        margin-bottom: $size-11;
      }
    }
  }

  &--size-22 {
    > * {
      &:not(:last-child) {
        margin-bottom: $size-22;
      }
    }
  }

  &--size-18 {
    > * {
      &:not(:last-child) {
        margin-bottom: $size-18;
      }
    }
  }

  &--size-167 {
    > * {
      &:not(:last-child) {
        margin-bottom: $size-167;
      }
    }
  }

  &--size-33 {
    > * {
      &:not(:last-child) {
        margin-bottom: $size-33;
      }
    }
  }

  &--size-52 {
    > * {
      &:not(:last-child) {
        margin-bottom: $size-52;
      }
    }
  }

  &--size-5 {
    > * {
      &:not(:last-child) {
        margin-bottom: $size-5;
      }
    }
  }
}
