$color-black: #000;
$color-black-opacity-10: rgba($color-black, 10);

$color-white: #fff;
$color-ocra: #f1af00;
$color-ocra-dark: #f4b740;
$color-dark-gray: #24232d;
$color-dark-gray-2: #2c3239;

$color-dark-gray-80: rgba($color-dark-gray, .8);
