@import 'globals.scss';

.icon {
  display: block;
  position: relative;

  svg {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &--color-white {
    svg {
      fill: $color-white;
    }
  }

  &--size-small {
    width: $size-8;
    height: $size-8;
  }

  &--size-normal {
    width: $size-16;
    height: $size-16;
  }

  &--size-medium {
    width: $size-24;
    height: $size-24;
  }

  &--size-large {
    width: $size-32;
    height: $size-32;
  }

  &--size-xlarge {
    width: $size-64;
    height: $size-64;
  }

  &--size-xxlarge {
    width: $size-128;
    height: $size-128;
  }

  &--size-auto {
    height: auto;
    width: auto;

    svg {
      position: relative;
    }
  }

  &--size-vertical-48 {
    height: 48px;

    svg {
      position: relative;
      width: auto;
    }
  }

  &--position-relative {
    svg {
      position: relative;
      width: auto;
      height: 100%;
    }
  }

  &--opacity-opaque {
    opacity: 1;
  }

  &--opacity-semi-transparent {
    opacity: .4;
  }
}
