@import 'globals.scss';

.icon {
  display: block;
  position: relative;

  svg {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition-property: fill;
    transition-duration: .3s;
  }

  &--color-white {
    svg {
      fill: $color-white;
    }
  }

  &--size-12 {
    width: $size-12;
    height: $size-12;
  }

  &--size-16 {
    width: $size-16;
    height: $size-16;
  }

  &--size-24 {
    width: $size-24;
    height: $size-24;
  }

  &--size-64 {
    width: $size-64;
    height: $size-64;
  }

  &--size-60 {
    width: $size-60;
    height: $size-60;
  }

  &--size-70 {
    width: $size-70;
    height: $size-70;
  }

  &--size-auto {
    display: table;

    svg {
      height: auto;
      width: auto;
      position: relative;
    }
  }

  &--size-vertical-48 {
    height: 48px;

    svg {
      position: relative;
      width: auto;
    }
  }

  &--position-relative {
    svg {
      position: relative;
      width: auto;
      height: 100%;
    }
  }

  &--opacity-opaque {
    opacity: 1;
  }

  &--opacity-semi-transparent {
    opacity: .4;
  }
}
